ollama
streamlit
pdfplumber
pdfminer.six
langchain
langchain-core
langchain-ollama
langchain_community
langchain_text_splitters
langchain-classic
langchain-chroma
unstructured
unstructured[all-docs]
onnx
protobuf
chromadb
Pillow
numpy
pytest
pytest-cov
coverage
pydantic

# FastAPI dependencies
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
aiosqlite
pydantic-settings
