{% extends "base.html" %}
{% block start %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
  .text{
    color: green;
    font-weight: bold;
  }
</style>

<div class="container mt-5">

  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text  text-center"> App Management </h2>

    <h3>Update MyApp</h3>
    <hr>
    <div class="form-group">
      <label for="exampleInputEmail1">App name</label>
      <input name="myapp_name" value="{{myapp.myapp_name}}" type="text" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">App description</label>
      <textarea name="myapp_description" class="form-control" required>{{myapp.myapp_description}}</textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">App Image</label>
      <input name="myapp_image" type="file" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Update App</button>
  </form>


</div>

{% endblock %}